/* ------------ Font ------------ */

@font-face {
    font-family: 'font-main';
    src: url('_方正兰亭黑.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font-mono';
    src: url('_Microsoft-Yahei-Mono.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font-mono-mobile';
    src: url('_SourceCodePro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


/* ------------Style------------- */

i {
    padding-right: 0.5em;
}

u {
    background-color: #ffeeee;
    border-bottom: 2px solid #0f9d58;
    text-decoration: none;
}

a {
    color: #444444;
    word-wrap: break-word;
}

.mobile ol,
.mobile ul {
    margin-left: -0.5em;
}

.mobile li {
    margin-left: -0.5em;
    margin: 0.1em, inherit;
}

table {
    border-collapse: collapse;
    margin: 0.5em;
}

thead tr,
tfoot tr {
    border-top: 2px solid #0f9d58;
    border-bottom: 2px solid #0f9d58;
}

td,
th {
    border: 1px solid #0f9d58;
    padding: 0.2em 0.5em;
}

td:first-child,
th:first-child {
    border-left: none;
}

td:last-child,
th:last-child {
    border-right: none;
}

hr {
    color: #db4437;
    size: 5px;
}

pre {
    font-family: 'font-mono' !important;
    border-left: 2px solid lightseagreen;
    padding-left: 10px;
}

.mobile pre {
    font-family: 'font-mono-mobile' !important;
}

code,
kbd,
var,
samp,
tt {
    font-family: 'font-mono' !important;
    background-color: #e8f8ff;
}

.mobile code,
.mobile kbd,
.mobile var,
.mobile samp,
.mobile tt {
    font-family: 'font-mono-mobile' !important;
    ;
}

.header {
    font: 16px/1.5em 'font-mono';
    padding-left: 0.5em;
}

.mobile .header {
    font: 16px/1.5em 'font-mono-mobile';
}

.content {
    font: 16px/1.5em 'font-main';
    padding-left: 0.5em;
    border-left: 4px solid white;
}

.quote {
    border-left: 2px solid gray;
    padding-left: 10px;
}

.left-border-red {
    border-left: 4px solid #db4437;
}

.left-border-green {
    border-left: 4px solid #0f9d58;
}

.left-border-blue {
    border-left: 4px solid #4285f4;
}

.left-border-yellow {
    border-left: 4px solid #f4b400;
}

.text-color-red {
    color: #db4437;
}

.text-color-green {
    color: #0f9d58;
}

.text-color-blue {
    color: #4285f4;
}

.text-color-yellow {
    color: #f4b400;
}

#domain-and-topic-section {
    font-family: 'font-mono';
    font-weight: bold;
    color: #db4437;
    width: 100%;
    z-index: 9999;
    background-color: white;
    position: fixed;
    top: 0;
}

.mobile #domain-and-topic-section {
    font-family: 'font-mono-mobile'
}

#card-body {
    margin-top: 4.5em;
}

#show-one-cloze-left,
#show-one-cloze-right,
#no-more-cloze {
    height: 100%;
    width: 40px;
    position: fixed;
    z-index: 9999;
    top: 0%;
    background-color: transparent;
}

#show-one-cloze-left {
    left: 0;
}

#show-one-cloze-right {
    right: 0;
}

#no-more-cloze {
    width: 10px;
    background-color: #db4437;
    left: 0;
    display: none;
}



/* --------- Animation ---------- */

.genuine-cloze {
    border-bottom: 1px solid #db4437;
    padding-bottom: 1px;
    position: relative;
    /* animation: cloze 0.5s 0s;
    animation-fill-mode: forwards;
    -webkit-animation: cloze 0.5s 0s;
    -webkit-animation-fill-mode: forwards; */
}

.genuine-cloze[show-state="hint"] {
    border-bottom: 2px solid #db4437;
    background-color: #ffe1df;
}

.pseudo-cloze {
    border-bottom: 1px solid #4285f4;
    padding-bottom: 1px;
    position: relative;
    /* animation: cloze 0.5s 0s;
    animation-fill-mode: forwards;
    -webkit-animation: cloze 0.5s 0s;
    -webkit-animation-fill-mode: forwards; */
}

.pseudo-cloze[show-state="hint"] {
    border-bottom: 2px solid #4285f4;
    background-color: #dce8ff;
}

.hidden-block {
    border-bottom: 1px solid #f4b400;
    padding-bottom: 1px;
    position: relative;
    /* animation: cloze 0.5s 0s;
    animation-fill-mode: forwards;
    -webkit-animation: cloze 0.5s 0s;
    -webkit-animation-fill-mode: forwards; */
}

@keyframes cloze {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes cloze {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}